.pagination-btn{
    float: left;
    color: #343434;
    font-size:1em;
    font-weight: normal;
    text-align: center;
    border: 1px solid #ccc;
    margin:2px;
    min-width: 14px;
    padding:  2px 4px;
    background-color: #f2f2f2;
}

span.pagination {
    width: 100%;
    display: block;
    margin: 1% 0;
}

.pagination-btn.selected{
    border: 1px solid #666;
    background-color: #cecece;
}

.pagination-btn:hover {
    background-color: #fefefe;
}

.pagination .dots {
    float: left;
    display: block;
    color: #343434;
    line-height: 20px;
}